<table>
    <thead>
        <th>Get At</th>
        <th>USD</th>
        <th>CAD</th>
        <th>JPY</th>
        <th>EUR</th>
    </thead>
    <tbody>
        <% @rates.each do |rate| %>
        <tr>
            <td><%= rate.get_at %></td>
            <td><%= rate.usd %></td>
            <td><%= rate.cad %></td>
            <td><%= rate.jpy %></td>
            <td><%= rate.eur %></td>
        </tr>
        <% end %>
    </tbody>
</table>